<mat-sidenav-container class="layout">

  <mat-sidenav
    class="panel-lateral"
    [mode]="esMovil ? 'over' : 'side'"
    [fixedInViewport]="esMovil"
    [autoFocus]="false"
    [disableClose]="!esMovil"
    [(opened)]="menuAbierto"
    (backdropClick)="cerrarMenuMovil()">

    <app-sidebar>
    </app-sidebar>

  </mat-sidenav>

  <mat-sidenav-content class="contenido">

    <app-toolbar
      (menuSolicitado)="alternarMenu()">
    </app-toolbar>

    <main class="pagina">

      <router-outlet>
      </router-outlet>

    </main>

  </mat-sidenav-content>

</mat-sidenav-container>