.sidebar {
  width: 270px;
  height: 100vh;
  background: #5b21b6;
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 0 12px rgba(0, 0, 0, .15);
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 28px 22px;
}

.logo-icon {
  width: 55px;
  height: 55px;
  border-radius: 14px;
  background: rgba(255, 255, 255, .15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-icon mat-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.logo-texto h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.logo-texto span {
  font-size: 13px;
  opacity: .8;
}

.menu {
  padding: 20px 12px 0;
}

.menu h4 {
  margin: 0 0 10px;
  padding-left: 12px;
  font-size: 12px;
  font-weight: 600;
  color: rgba(255,255,255,.7);
  letter-spacing: 1px;
}

mat-nav-list {
  padding: 0;
}

a[mat-list-item] {
  border-radius: 12px;
  margin-bottom: 6px;
  color: white;
  transition: .25s;
}

a[mat-list-item] mat-icon {
  color: white;
}

a[mat-list-item]:hover {
  background: rgba(255,255,255,.12);
}

a.activo {
  background: white;
  color: #5b21b6;
  font-weight: 600;
}

a.activo mat-icon {
  color: #5b21b6;
}

mat-divider {
  border-top-color: rgba(255,255,255,.15);
}

::ng-deep .mat-mdc-list-item-unscoped-content {
  color: inherit !important;
}

::ng-deep .mdc-list-item__primary-text {
  color: inherit !important;
  font-weight: 500;
}

@media (max-width: 992px) {
  .sidebar {
    width: 230px;
  }

  .logo-texto h2 {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 80px;
  }

  .logo {
    justify-content: center;
    padding: 24px 10px;
  }

  .logo-texto {
    display: none;
  }

  .menu h4 {
    display: none;
  }

  ::ng-deep .mdc-list-item__primary-text {
    display: none;
  }

  a[mat-list-item] {
    justify-content: center;
  }

  a[mat-list-item] mat-icon {
    margin: auto;
  }
}